@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Please try again later</h2>
@* <h2 class="text-danger">@Model.ErrorText</h2> *@

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
