@model UrlRequest

<div class="text-center">
    <h1 class="display-4">Welcome to LinkTrim.cs</h1>
    <p style="font-size: 16px;">Your go-to tool for creating sleek, shortened URLs in seconds! Whether you're sharing content,
        tracking clicks, or simply tidying up those long, messy links, LinkTrim has you covered.</p>
    @using (Html.BeginForm()){
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "text-black control-label col-md-2" })
                @Html.TextBoxFor(model => model.Value,
    new { @class = "form-control", placeholder = "", required = "required" , autocomplete="off" })
                @Html.ValidationMessageFor(model => model.Value,"", new { @class = "text-danger" })
            </div>
        </div>
        <button type="submit" class="btn btn-primary">LinkTrim the url</button>
    }
</div>
