@{
    ViewData["Title"] = "About LinkTrim";
}
<h1>@ViewData["Title"]</h1>

<p><strong>LinkTrim</strong> is your go-to tool for shortening and managing URLs. Convert lengthy web addresses into short, shareable links effortlessly. With LinkTrim, you can:</p>
<ul>
    <li><strong>Shorten Links:</strong> Create compact URLs from longer ones.</li>
    <li><strong>Store Links:</strong> Keep track of your shortened URLs for future use.</li>
</ul>
<p>For a seamless experience, simply enter your long URL and get a shortened version ready to share.</p>
<p>If you have any questions or need support, feel free to reach out to our team!</p>
<p></p>
